<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./style/style.css">

    <title>lector Qr</title>
</head>

<body>
    <!--------------------------------------------------------------------------------->

    <video id="qr-video" style="display:none;"></video>
    <label class="switch">
        <input id="show-scan-region" type="checkbox">
        <span class="slider round"></span>
    </label>

    <!--------------------------------------------------------------------------------->
    <script type="module">
        //        <input id="show-scan-region" type="checkbox"  checked >
        //       Iniciar excaneo
        //       checked=> abierto

        import QrScanner from "/js/qr-scanner.min.js";
        QrScanner.WORKER_PATH = '/js/qr-scanner-worker.min.js';

        //********************************************************************************************
        //				Escaneo del qr video y obtencion de cedula
        const video = document.getElementById('qr-video');



        const qrScanner = new QrScanner(video, result => {

            //---- sacar el nombre de la tabla y sacar 
            //---- la cedula
            qrScanner.stop();
            qrScanner.$canvas.style.display = false ? 'block' : 'none';
            alert(result)
            
        });


        document.getElementById('show-scan-region').addEventListener('change', (e) => {
            const input = e.target;
            if (input.checked) {
                qrScanner.start();
                const label = input.parentNode;
                label.parentNode.insertBefore(qrScanner.$canvas, label.nextSibling);

                qrScanner.$canvas.style.display = input.checked ? 'block' : 'none';
            }
            else{
                
                qrScanner.stop();
                qrScanner.$canvas.style.display = input.checked ? 'block' : 'none';
            }
        });

    </script>
    <!--------------------------------------------------------------------------------->
</body>

</html>