<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="/js/jquery.js"> </script>
    <script lang="/javascript" src="/js/xlsx.full.min.js"></script>


    <title>Atmin</title>
</head>

<body>
    <section id="uno">
        <h2>Crear campeonato</h2>
        <form action="/crearCampeonato" method="post">
            <input type="text" name="campeonato" id="campeonato">
            <input type="submit" value="Submit">
        </form>
    </section>

    <section id="dos">
        <h2>Cargar equipo</h3>
            <div class="list">
                <select name="listCamp" id="selectCamp"></select>
            </div>
            <!--      --------------------------------------------------------------------------- -->
            <input type="text" id="nombreEquipo"> nombre del equipo<br>
            <input type="file" id="equipoExcel" name="equipoExcel" accept=".xls, .xlsx" />
            <br>
            <button onclick="envioPost()" type="submit">Crear</button>
            <!--      --------------------------------------------------------------------------- -->
            <div class="list">
                <h2>Equipos Agregados</h2>
                <select name="listEquipo" id="listEquipo"></select>
            </div>
    </section>


    <section id="tres">
        <h2>Crear juez</h2>
        
        <select name="listaUser" id="listaUser"></select> user
        <br>
        <p id="user0"></p>
        <p id="user1"></p>
        <p id="user2"></p>
        
        <select name="campeonatoJuez" id="campeonatoJuez"></select>
        <br>
        <button type="submit" onclick="control()">Crear</button>
    </section>


    <a href="/logout">Cerrar</a>
    <!-------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------->
    <script>
        //****************************************************************************
        //subir a un usuario un campeonato
        const control = () =>{
            const user = document.getElementsByTagName('select')['listaUser'].selectedOptions[0].innerText
            const campeonato =  document.getElementsByTagName('select')['campeonatoJuez'].selectedOptions[0].innerText
            const nombre = document.getElementById('user0').innerHTML
            const apellido = document.getElementById('user1').innerHTML
            const cedula = document.getElementById('user2').innerHTML
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/usuariosCampeonatos", true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onload = () => {
                alert(xhr.response)
                window.location.replace("/form")
            }
            xhr.send(JSON.stringify({ 
                user: user,
                campeonato:campeonato,
                nombre:nombre,
                apellido:apellido,
                cedula:cedula 
            }));
            
        }

        const db = () => {
            const xhr = new XMLHttpRequest();
            xhr.open("GET", "/listaCampeonatos");



            xhr.onload = () => {
                const jsonDato = JSON.parse(xhr.response)
                jsonDato.filter(x => {
                    if (x.name.indexOf('campeonato') == 0) {
                        var add = document.createElement('option');
                        add.value = x.name;
                        add.innerHTML = x.name;
                        document.getElementById("selectCamp").add(add);
                    }
                })
                jsonDato.filter(x => {
                    if (x.name.indexOf('campeonato') == 0) {
                        var add = document.createElement('option');
                        add.value = x.name;
                        add.innerHTML = x.name;
                        document.getElementById('campeonatoJuez').add(add);
                    }
                })

            }

            xhr.send()
        }
        db()

        //************************************************************************
        //get lista collections
        const listaColl = (campeonato) => {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/listaCollections", true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onload = () => {
                const jsonDato = JSON.parse(xhr.response)
                jsonDato.filter(x => {
                    if (x.name.indexOf('equipo') == 0) {
                        const deleteOption = document.getElementById(x.name)
                        if (deleteOption) { deleteOption.remove() }

                        var add = document.createElement('option');
                        add.id = x.name;
                        add.innerHTML = x.name;
                        document.getElementById("listEquipo").add(add);

                    }

                })
            }
            xhr.send(JSON.stringify({ campeonato: campeonato }));
        }
        //************************************************************************
        //selector camp
        document.getElementById('selectCamp').addEventListener('click', x => {
            const campeonato = document.getElementsByTagName('select')['selectCamp'].selectedOptions[0].innerText
            listaColl(campeonato)
        })
        //************************************************************************
        //selector user
        document.getElementById('listaUser').addEventListener('click', x => {
            const usuario = document.getElementsByTagName('select')['listaUser'].selectedOptions[0].innerText
            //*************************************************************************
            //print elementos de un usuario nombre ,apellido cedula
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/ElemetUser", true);
            xhr.setRequestHeader("Content-Type", "application/json");


            xhr.onload = () => {
                const jsonDato = JSON.parse(xhr.response)
                jsonDato.filter(x => {
                    document.getElementById('user0').innerHTML = x.nombre
                    document.getElementById('user1').innerHTML = x.apellido
                    document.getElementById('user2').innerHTML = x.cedula
                }
                )
            }
            xhr.send(JSON.stringify({ user: usuario }));
            //*************************************************************************


        })

        //lista User
        const listUser = () => {
            const xhr = new XMLHttpRequest();
            xhr.open("GET", "/consultaUser");



            xhr.onload = () => {
                const jsonDato = JSON.parse(xhr.response)
                jsonDato.filter(x => {
                    if (x.rol == 'user') {
                        var add = document.createElement('option');
                        add.value = x.name;
                        add.innerHTML = x.name;
                        document.getElementById('listaUser').add(add);

                    }
                })

            }
            xhr.send()
        }
        listUser()
    </script>
    <!-------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------->
    <script>
        /*****************************************************************************************/
        //****************************Enviar nombre del equipo***********excel********************
        let dataJson
        //convertir Archivos xls a array json y guardarlo en dataJson
        $("#equipoExcel").change(function (evt) {


            var selectedFile = evt.target.files[0];
            var reader = new FileReader();
            reader.onload = function (event) {
                var data = event.target.result;
                var workbook = XLSX.read(data, {
                    type: 'binary'
                });
                workbook.SheetNames.forEach(function (sheetName) {

                    var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);

                    var json_object = JSON.stringify(XL_row_object);
                    dataJson = json_object;
                })
            };

            reader.onerror = function (event) {
                console.error("File could not be read! Code " + event.target.error.code);
            };

            reader.readAsBinaryString(selectedFile);
        });
        /*****************************************************************************************/
        //enviar nombre del equipo + excel del equipo
        const envioPost = () => {
            elemento = document.getElementById('nombreEquipo')
            if (elemento.value) {
                if (dataJson) {
                    const campeonato = document.getElementsByTagName('select')['selectCamp'].selectedOptions[0].innerText
                    const xhr = new XMLHttpRequest();
                    xhr.open("POST", "/subirEquipos", true);
                    xhr.setRequestHeader("Content-Type", "application/json");

                    xhr.onload = () => {
                        alert(xhr.response);
                        window.location.replace("/form")
                    }
                    const jsonEquipos = [{
                        'nombre': elemento.value,
                        'equipos': dataJson
                    },
                    {
                        'campeonato': campeonato,
                        'equipo': elemento.value
                    }
                    ]

                    xhr.send(JSON.stringify(jsonEquipos));
                }
                else { alert('Por favor agregar el archivo excel') }
            }
            else { alert('Por favor agregar el nombre del equipo') }
        }

    </script>
</body>

</html>