<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/styleFrom.css">

    <title>Formulario</title>
</head>

<body>
    <div class="container">
        <img src="./img/Marca Golmin.png"  alt="logo" class="logo">
        <img src="./img/Ico Golmin.png"  alt="logo" class="Icono">
        <form action="/Logit" method="post">
            
            <input type="text" name="username" id="username" placeholder="Usuario">
            <br>
            
            <input type="password" name="pass" id="pass" placeholder="Contraseña">
            <br>
            
            <input type="submit" value="Iniciar">

        </form>
        
    </div>
</body>

</html>