<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/contructo-user.js" type="module"></script>
    <title>User</title>

</head>

<body>

    <div id="titulo"></div>
    <section id="menuIRE"></section>
    <!----- menu Iniciar ,Resumen ,Eliminar-->
    <br>

    <section id="aciones">
        <div id="listaCamp"></div>
        <div id="listaEqui"></div>
        <div id="BorrarEquipo"></div>
    </section>

    

    Checkbox 1 <input type = "checkbox" name = "checkbox1"  >

    <a href="/logout">Cerrar</a>
</body>
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------>

<script>
    //*******************************************************************+
    //leer el perfil de este usuario
    const perfil = () => {
        const xhr = new XMLHttpRequest();
        xhr.open("GET", "/perfilData");
        xhr.onload = () => {
            const jsonDato = JSON.parse(xhr.response)
            jsonDato.filter(x => {
                const deleteOption = document.getElementById(x.user)
                if (deleteOption) { deleteOption.remove() }

                var add = document.createElement('h1');
                add.innerText = x.user
                add.id = x.user
                document.getElementById("titulo").appendChild(add);
            })

        }
        xhr.send()
    }
    perfil()


</script>

</html>